In [50]:
#importing the libraries

import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt

In [67]:
#importing the data

data=pd.read_csv('train_bm.csv')

In [10]:
data.shape

(8523, 12)

In [11]:
#checking for the missing values

data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [37]:
#shuffling and create the test and train sets


from sklearn.model_selection import train_test_split

train, test = train_test_split(data,test_size=0.25,shuffle=True)

In [38]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4892,FDR57,5.675,Regular,0.023497,Snack Foods,156.1288,OUT046,1997,Small,Tier 1,Supermarket Type1,2828.3184
2938,FDJ56,8.985,Low Fat,0.183775,Fruits and Vegetables,101.7700,OUT045,2002,NaN,Tier 2,Supermarket Type1,798.9600
282,NCF07,NaN,Low Fat,0.031867,Household,101.0016,OUT027,1985,Medium,Tier 3,Supermarket Type3,2125.2336
1291,FDY24,4.880,Regular,0.223440,Baking Goods,52.2298,OUT010,1998,NaN,Tier 3,Grocery Store,161.7894
1876,DRA59,8.270,Regular,0.127928,Soft Drinks,184.8924,OUT046,1997,Small,Tier 1,Supermarket Type1,4442.2176

In [39]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1030,FDM02,12.50,Regular,0.123417,Canned,86.0198,OUT010,1998,NaN,Tier 3,Grocery Store,87.2198
792,FDR23,15.85,Low Fat,0.000000,Breads,174.7370,OUT017,2007,NaN,Tier 2,Supermarket Type1,2822.9920
335,FDO01,NaN,Regular,0.020618,Breakfast,129.3994,OUT027,1985,Medium,Tier 3,Supermarket Type3,2055.9904
3204,FDP39,NaN,Low Fat,0.121554,Meat,53.7324,OUT019,1985,Small,Tier 1,Grocery Store,311.5944
3069,DRI13,15.35,Low Fat,0.020327,Soft Drinks,216.7508,OUT046,1997,Small,Tier 1,Supermarket Type1,1736.4064

In [41]:
#simple mean (mean of Item_Outlet_Sales)
#storing simple_mean in a new col in the test set

test['simple_mean']  = train['Item_Outlet_Sales'].mean()
test['simple_mean']

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

1030    2166.019475
792     2166.019475
335     2166.019475
3204    2166.019475
3069    2166.019475
           ...
1090    2166.019475
6265    2166.019475
4268    2166.019475
4921    2166.019475
5622    2166.019475
Name: simple_mean, Length: 2131, dtype: float64

In [42]:
#cal the mean absolute error(MAE) between given and mean

from sklearn.metrics import mean_absolute_error as MAE

simple_mean_error = MAE(test['Item_Outlet_Sales'], test['simple_mean'])
simple_mean_error

1340.1563882590804

In [54]:
#mean Item_Outlet_Sales wrt Outlet_type
#first takeout the Item_Outlet_Sales of Outlet_Type

out_type = pd.pivot_table(train, values='Item_Outlet_Sales',index=['Outlet_Type'],aggfunc=np.mean)
out_type

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             337.476372
Supermarket Type1        2310.278123
Supermarket Type2        2006.221140
Supermarket Type3        3635.636517

In [56]:
test['Out_type_mean'] = 0

for i in train['Outlet_Type'].unique():
    test['Out_type_mean'][test['Outlet_Type'] == str(i)] = train['Item_Outlet_Sales'][train['Outlet_Type'] == str(i)].mean()

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [57]:
#cal the mean absolute error(MAE) between given and mean


out_type_error = MAE(test['Item_Outlet_Sales'], test['Out_type_mean'])
out_type_error

1115.2169133141826

In [58]:
#mean Item_Outlet_Sales wrt Outlet_Establishment_Year

out_year = pd.pivot_table(train, values='Item_Outlet_Sales',index=['Outlet_Establishment_Year'],aggfunc=np.mean)
out_year

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                             2468.072736
1987                             2326.244332
1997                             2219.014345
1998                              338.178630
1999                             2383.180631
2002                             2122.643523
2004                             2423.388704
2007                             2386.171472
2009                             2006.221140

In [59]:
test['Out_year_mean'] = 0

for i in train['Outlet_Establishment_Year'].unique():
    test['Out_year_mean'][test['Outlet_Establishment_Year'] == str(i)] = train['Item_Outlet_Sales'][train['Outlet_Establishment_Year'] == str(i)].mean()

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)
C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [60]:
out_year_mean= MAE(test['Item_Outlet_Sales'], test['Out_year_mean'])
out_year_mean

2227.0900647583294

In [63]:
#similarly we can do with other variables availabl with us

#mean Item_Outlet_Sales wrt to both Outlet_Location_Type and Outlet_Establishment_Year

temp = pd.pivot_table(train, values='Item_Outlet_Sales',index=['Outlet_Location_Type','Outlet_Establishment_Year'],aggfunc=np.mean)
temp

                                                Item_Outlet_Sales
Outlet_Location_Type Outlet_Establishment_Year
Tier 1               1985                              336.660730
                     1997                             2219.014345
                     1999                             2383.180631
Tier 2               2002                             2122.643523
                     2004                             2423.388704
                     2007                             2386.171472
Tier 3               1985                             3635.636517
                     1987                             2326.244332
                     1998                              338.178630
                     2009                             2006.221140

In [65]:
test['tmean'] = 0

b='Outlet_Location_Type'
a='Outlet_Establishment_Year'

for i in test[a].unique():
    for j in test[b].unique(): 
        
        #cal and assign mean to new col, corresponding to both unique values of a and b resp
        test['tmean'][(test[a] == i) & (test[b] == str(j))] = train['Item_Outlet_Sales'][(train[a] == i) &  (train[b] == str(j))].mean()

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\DELL\Anaconda3\lib\site-packages\pandas\core\generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [66]:
#cal the mean absolute error

Tmean = MAE(test['tmean'], test['Item_Outlet_Sales'])
Tmean

1119.460602792177